*, 
::after, 
::before{
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
    font-size: 1.125rem;
    min-height: 100vh;
}

/* LAYOUT */

.primary-nav  {           /* alter this according to your nav */
    display: flex;
    align-items: center;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em 0;
}


.main-content{
    text-align: center;
    padding: 2em 1.2em;
}


.images-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}


/* TYPOGRAPHY */
.main-content>p{
    line-height: 1.5;
    color: hsl(0, 0%, 41%);
}


/* IMAGES */
img{
    max-width: 100%;
}


/* BUTTON */

button {
    font-family: inherit;
    border: none;
}


.nav-btn{
    font-size: 1rem;
    border: none;
    background: transparent;
}


.nav-btn:focus,
.nav-btn:hover{
    border:1px solid hsl(0, 0%, 8%);
    color: hsl(0, 0%, 8%);
    padding: 0.5em 1em;
    border-radius: 5px;
}


.learn-btn{
    font-family: inherit;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 0.86em 1.5em;
    background: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%); 
    cursor: pointer;
}


.learn-btn:focus,
.learn-btn:hover{
    border:1px solid hsl(0, 0%, 8%);
    background: transparent;
    color: hsl(0, 0%, 8%);
}



/* MEDIA QUERY */
@media(min-width: 768px){
    .container{
        flex-direction: row;
        justify-content: space-evenly;
    }


    h1{
        line-height: 1.2;
        font-size: 3.4rem;
    }

    .order{
        width: 45%;
        order: 1;
    }

    .main-content{
        width: 35%;
        text-align: left;
        padding: 0;
    }


    .images-container{
        margin-top: 5em;
    }

    .learn-btn{
        margin-top: 2em;
    }

    
}